@{
    ViewData["Title"] = "Creditos";
}
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="container">
    <div class="estadisticas">
        <h2 class="item">Creditos</h2>
        <h3>Lucas Rosenbaum</h3>
    </div>
</div>