@{
    ViewData["Title"] = "Transicion3";
}

<head>
    <link rel="stylesheet" href="~/css/transicion3.css">
</head>

<p class="textoTransicion">
    Dentro de la caja fuerte, encontrás un mapa interno del estadio. En este, se indica una salida secreta para casos extraordinarios como el tuyo.
    Emocionadamente, te diriges hacia tu ruta de escape.
</p>

<a href='@Url.Action("Comenzar")'><button class="botonContinuar">Continuar</button></a>