@{
    ViewData["Title"] = "Transicion2";
}

<head>
    <link rel="stylesheet" href="~/css/transicion2.css">
</head>

<p class="textoTransicion">Introduces el codigo en el candado y por fortuna se abre. En el cajon encuentras un papel que dice "Vestuario". Rapidamente, decides ir a revisar el vestuario local.</p>

<a href='@Url.Action("Comenzar")'><button class="botonContinuar">Continuar</button></a>