@{
    ViewData["Title"] = "Transicion1";
}

<head>
    <link rel="stylesheet" href="~/css/transicion1.css">
</head>

<p class="textoTransicion">
Después de una apasionante noche de Copa Libertadores, te quedas absorto en el ambiente eufórico de la mítica Bombonera. La multitud rugía mientras los jugadores daban lo mejor de sí en la cancha, pero sin darte cuenta, el tiempo ha pasado volando y ahora te encuentras atrapado dentro del estadio.
El corazón te late acelerado mientras te das cuenta de que tienes una prueba de matemáticas al día siguiente. No puedes permitir que esta situación arruine tus oportunidades académicas, así que debes encontrar una manera de salir de la Bombonera lo más rápido posible.
Observas a tu alrededor, las imponentes gradas parecen desafiar tu determinación. Pero no te rindes. Recuerdas haber oído hablar de una salida secreta en el estadio, diseñada para situaciones de emergencia como esta. Tu mente se enfoca y te lanzas a la búsqueda de pistas y señales que te guíen hacia esa salida oculta.
</p>

<a href='@Url.Action("Comenzar")'><button class="botonContinuar">Continuar</button></a>