@{
    ViewData["Title"] = "Transicion4";
}

<head>
    <link rel="stylesheet" href="~/css/transicion4.css">
</head>

<p class="textoTransicion">
    El espiritu queda conforme con tus conocimientos del cuadro xeneize y te deja continuar en paz. Ya te encuentras a tan solo unos metros de tu escape.
</p>

<a href='@Url.Action("Comenzar")'><button class="botonContinuar">Continuar</button></a>