@{
    ViewData["Title"] = "Tutorial";
}

@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/index.css">

<div class="container">
    <div class="estadisticas">
        <h3>
            Bienvenido a <i>ESCAPE DE LA BOMBONERA</i>, si te gusta el futbol y las aventuras, este es tu juego.
            Te sumergiras en una apasionante historia en la que deberas usar tu ingenio y conocimientos futbolisticos para poder salir.
        </h3>
    </div>
</div>