.material-icons.yellow600 { 
    color: #fbc02d;
    background-color: transparent;
}

.botonFullscreen {
    background-color: transparent;
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 2%;
    padding-right: 2%;
    cursor: pointer;
}

.bocalogo {
    width: 150px;
    height: auto;
}

.menu__toggler {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .menu__toggler span,
  .menu__toggler span::before,
  .menu__toggler span::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 2.5px;
    background: #fbc02d;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
  }
  .menu__toggler span::before {
    top: -8px;
  }
  .menu__toggler span::after {
    top: 8px;
  }
  .menu__toggler.active > span {
    background: transparent;
  }
  .menu__toggler.active > span::before, .menu__toggler.active > span::after {
    background: #fbc02d;
    top: 0px;
  }
  .menu__toggler.active > span::before {
    transform: rotate(-225deg);
  }
  .menu__toggler.active > span::after {
    transform: rotate(225deg);
  }
  
  .menu {
    position: absolute;
    left: -42%;
    color: #103f79;
    background: #05254d9f;
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 15%;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
    top: -50px;
  }
  @media only screen and (max-width: 600px) {
    .menu {
      width: 250px;
      left: -250px;
      padding: 50px;
    }
  }
  .menu.active {
    left: 0;
  }
  .menu p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .menu a:link, .menu a:visited {
    color: #fbc02d;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .menu a:hover {
    color: #af8720;
    text-decoration: none;
  }

  a, a:visited {
    text-decoration: none;
  }

  #timer {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1%;
    font-size: 1.5em;
    font-weight: 700;
    color: #fbc02d;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
  }

  .error {
    color: red;
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
  }